body{
    font-family: 'Cormorant', serif;
    font-size: 20px;;
}

.main-section{
    background-color: rgba(228,197,168, 0.5);
    margin-left: 15%;
    margin-right: 15%;
}

.heading{
    padding-top: 5%;
    text-align: center;
    font-family: 'Homemade Apple', cursive;
    font-size: 35px;
}
.para{
    text-align: center;
}
.image{
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    display: flex;
    max-width: 40%;
    margin-top: 5%;
    padding-bottom: 5%;
}

.start-btn{
    margin: 0 auto;
    margin-top: 3%;
    justify-content: center;
    align-content: center;
    display: flex;
    width: 15%;
    height: 10%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    font-size: 1.1em;
    border-radius: 20px;
    border-width: 0px;
    background-color: rgb(63,61,86);
    color: white;
    cursor: pointer;
    transition: all 0.1s ease-out;
    
}

.start-btn:hover{
    background-color: rgb(102,160,107);
    box-shadow:  0px 5px 15px #333333;
    transform: scale(1.1);
    text-decoration: none;
}

.start-btn:focus{
    outline: none;
}

.questions{
    margin-left: 5%;
}

#calc{
    text-align: center;
    font-size: 1.5em;
}

#results{
    
    text-align: center;
    font-size: 1.5em;
}

.social-media{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

ul.share-buttons{
    list-style: none;
    padding: 0;
    display: flex;
  }
  
ul.share-buttons li{
    display: inline;
    margin-right: 5%;
    transition: 0.3s ease-in-out;
}

ul.share-buttons li:hover{
    transform: scale(1.2);
}

  
ul.share-buttons .sr-only{
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 50%; /* Full-width */
    height: 16px; /* Specified height */
    border-radius: 5px;
    background: #696969; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%; 
    background: rgb(102,160,107); /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    background: rgb(102,160,107); /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

#again-button{
    background-color: rgb(102,160,107);
    -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    -webkit-animation-name: changecolour; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
     -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: changecolour;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}


  /* Safari 4.0 - 8.0 */
@-webkit-keyframes changecolour {
    0% {color: white;}
    50% {color: black;}
    100% {color: white;}
}

/* Standard syntax */
@keyframes changecolour {
   0% {color: white;}
    50% {color: black;}
    100% {color: white;}
}
